# Environment variables
.env

# Helm secret values
secrets.yaml

# Terraform secret values
terraform.tfvars
# Helm downloaded dependencies
charts/django-app/charts/
# Terraform working directory
.terraform/

# State files
terraform.tfstate
terraform.tfstate.backup
errored.tfstate
.terraform.lock.hcl
.terraform.tfstate.lock.info